.md-header--shadow, .md-header  {
  background-color: #37517e;
  padding: 1em;
}

#footer {
	background: #262626;
	color: #fff;
	padding: 2.3em;
}

#footer .copyright {
	font-size: 1.4em;
	float: left;
}

#footer .sponsored-by {
  float: right;
}

#footer .sponsored-by p {
	font-size: 1em;
  line-height: 2em;
  margin: 0;
}

#footer .sponsored-by .logo {
  height: auto;
  margin-left: 0.5em;
  max-width: 125px;
  vertical-align: middle;
}
