{{- $githubCommitID := "githubID" -}}
{{- range .Files }}
  {{- $filePath := .Path }}
  {{- range .Alerts }}
    {{- $severity := "" -}}
    {{- if eq .Severity "error" -}}
        {{- $severity = "error" -}}
    {{- else if eq .Severity "warning" -}}
        {{- $severity = "warning" -}}
    {{- else -}}
        {{- $severity = "suggestion" -}}
    {{- end -}}

    {{- $loc := printf "%d:%d" .Line (index .Span 0) -}}
    {{- $body := printf "{\"body\":\"%s\",\"path\":\"%s\",\"line\":%d}" .Message $filePath .Line }}
    {{- $body }}
  {{- end }}
{{- end }}