{{- /* Keep track of our various counts */ -}}

{{- $e := 0 -}}
{{- $w := 0 -}}
{{- $s := 0 -}}

{{- /* Range over the linted files */ -}}

[
{{- range $jdx, $file := .Files -}}

{{- $path := .Path -}}

{{- /* Range over the file's alerts */ -}}

{{- if $jdx -}},{{- end -}}
{{- range $idx, $a := .Alerts -}}

{{- $error := "" -}}
{{- if eq .Severity "error" -}}
    {{- $error = "error" -}}
    {{- $e = add1 $e  -}}
{{- else if eq .Severity "warning" -}}
    {{- $error = "warning" -}}
    {{- $w = add1 $w -}}
{{- else -}}
    {{- $error = "suggestion" -}}
    {{- $s = add1 $s -}}
{{- end}}

{{- /* Variables setup */ -}}

{{- $loc := printf "%d" .Line -}}
{{- $check := printf "%s" .Check -}}
{{- $message := printf "%s" .Message -}}
{{- if $idx -}},{{- end -}}

{{- /* Output */ -}}

  {
    "body": "[{{ $error }}] {{$check}}: {{ $message }}",
    "path": "{{ $path }}",
    "line": {{ $loc }}
  }
{{end -}}
{{end -}}
]

