language: python

cache: pip

sudo: required

before_install:
 - gem install asciidoctor
 - gem install asciidoctor-diagram

install:
 - pip3 install pyyaml
 - pip3 install aura.tar.gz

script:
 - python3 build.py --distro openshift-enterprise --product "OpenShift Container Platform" --version 4.10 --no-upstream-fetch && python3 makeBuild.py

after_success:
- bash ./automerge.sh
