language: python

cache: pip

sudo: required

before_install:
 - sudo gem install asciidoctor -v 1.5.4
 - sudo gem install asciidoctor-diagram -v 1.5.4

install:
 - pip install pyyaml
 - pip install aura.tar.gz

script:
 - python build.py --distro openshift-enterprise --product "OpenShift Container Platform" --version 3 --no-upstream-fetch
 - if [ "$TRAVIS_BRANCH" == "enterprise-3.9" ] || [ "$TRAVIS_BRANCH" == "enterprise-3.10" ]; then python build.py --distro openshift-online --product "OpenShift Container Platform" --version 3 --no-upstream-fetch; fi
 - if [ "$TRAVIS_BRANCH" == "enterprise-3.7" ] || [ "$TRAVIS_BRANCH" == "enterprise-3.9" ] || [ "$TRAVIS_BRANCH" == "enterprise-3.10" ]; then python build.py --distro openshift-dedicated --product "OpenShift Container Platform" --version 3 --no-upstream-fetch; fi
 - python makeBuild.py

after_success:
 - export USERNAME=${TRAVIS_PULL_REQUEST_SLUG::-15}
 - echo "{\"PR_BRANCH\":\"${TRAVIS_PULL_REQUEST_BRANCH}\",\"BASE_REPO\":\"${TRAVIS_REPO_SLUG}\",\"PR_NUMBER\":\"${TRAVIS_PULL_REQUEST}\",\"USER_NAME\":\"${USERNAME}\",\"BASE_REF\":\"${TRAVIS_BRANCH}\",\"REPO_NAME\":\"${TRAVIS_PULL_REQUEST_SLUG}\"}" | dd of=buildset.json
 - if [ "$TRAVIS_PULL_REQUEST" != "false" ] ; then "curl -H 'Content-Type: application/json' --request POST --data @buildset.json \"https://hooks.zapier.com/hooks/catch/3022285/wik1iz/\"" ; fi
