language: python
python: 
 - 2.7

cache: pip

sudo: required

before_install:
 - sudo gem install asciidoctor -v 1.5.4
 - sudo gem install asciidoctor-diagram -v 1.5.4

install:
 - pip install pyyaml
 - pip install aura.tar.gz

script:
 - python build.py --distro openshift-enterprise --product "OpenShift Container Platform" --version 3 --no-upstream-fetch
 - if [ "$TRAVIS_BRANCH" == "enterprise-3.11" ]; then python build.py --distro openshift-online --product "OpenShift Container Platform" --version 3 --no-upstream-fetch; fi
 - if [ "$TRAVIS_BRANCH" == "enterprise-3.11" ]; then python build.py --distro openshift-dedicated --product "OpenShift Container Platform" --version 3 --no-upstream-fetch; fi
 - python makeBuild.py

after_success:
 - bash autopreview.sh

after_failure:
 - bash autocomment.sh
