language: python

cache: pip

sudo: required

before_install:
 - gem install asciidoctor
 - gem install asciidoctor-diagram

install:
 - pip3 install pyyaml
 - pip3 install aura.tar.gz

script:
 - python3 build.py --distro openshift-enterprise --product "OpenShift Container Platform" --version 4.9 --no-upstream-fetch && python3 makeBuild.py
 - python3 build.py --distro openshift-dedicated --product "OpenShift Dedicated" --version 4 --no-upstream-fetch && python3 makeBuild.py
 - python3 build.py --distro openshift-rosa --product "Red Hat OpenShift Service on AWS" --version 4 --no-upstream-fetch && python3 makeBuild.py

after_success:
- bash ./automerge.sh
