language: python
cache:
  pip: true
  directories:
    - /home/travis/.rvm/gems

git:
  depth: 10
jobs:
  include:
      name: "Preview, validate, and build"
      env:
        - FILES_ENV=$(if [[ -n $(git diff --name-only $TRAVIS_COMMIT_RANGE --diff-filter=d "*.yml" "*.adoc" ':(exclude)_unused_topics/*') ]]; then echo "modified"; else echo "not_modified"; fi)
        - DISTRO_ENV=$(chmod +x ./scripts/get-updated-distros.sh && ./scripts/get-updated-distros.sh)
      before_install:
        - echo "DISTRO ENV ============================= $DISTRO_ENV"
        - echo "FILES ENV ============================= $FILES_ENV"
        - if [ "$FILES_ENV" = "modified" ]; then
            chmod +x autopreview.sh;
            ./autopreview.sh;
          else
            echo "No modified files, skipping preview build.";
          fi
      install:
        - if [ "$FILES_ENV" = "modified" ]; then
            gem install asciidoctor asciidoctor-diagram rouge;
            pip3 install aura.tar.gz;
          else
            echo "No modified files, skipping installation of additional dependencies.";
          fi

      script:
        # Fail if Asciidoctor encounters errors. Pass otherwise. Then, build updated distros
        - |
          if [[ "$FILES_ENV" = "modified" ]]; then
            chmod +x ./scripts/check-asciidoctor-build.sh
            chmod +x ./scripts/get-updated-distros.sh
            ./scripts/check-asciidoctor-build.sh || travis_terminate 1
            ./scripts/get-updated-distros.sh |
            while read -r filename; do
              if [ "$filename" == "_topic_maps/_topic_map.yml" ]; then python3 build.py --distro openshift-enterprise --product "OpenShift Container Platform" --version 4.14 --no-upstream-fetch

              elif [ "$filename" == "_topic_maps/_topic_map_osd.yml" ]; then python3 build.py --distro openshift-dedicated --product "OpenShift Dedicated" --version 4 --no-upstream-fetch

              elif [ "$filename" == "_topic_maps/_topic_map_ms.yml" ]; then python3 build.py --distro microshift --product "Microshift" --version 4 --no-upstream-fetch

              elif [ "$filename" == "_topic_maps/_topic_map_rosa.yml" ]; then python3 build.py --distro openshift-rosa --product "Red Hat OpenShift Service on AWS" --version 4 --no-upstream-fetch

              elif [ "$filename" == "_distro_map.yml" ]; then python3 build.py --distro openshift-enterprise --product "OpenShift Container Platform" --version 4.14 --no-upstream-fetch
              fi
            done
            if [ -d "drupal-build" ]; then python3 makeBuild.py; fi
          else
            echo "No modified files, skipping build."
          fi
