language: python

cache: pip

sudo: required

before_install:
 - gem install asciidoctor
 - gem install asciidoctor-diagram

install:
 - pip3 install pyyaml
 - pip3 install aura.tar.gz

script:
 - python3 build.py --distro openshift-acs --product "Red Hat Advanced Cluster Security for Kubernetes" --version 3.69 --no-upstream-fetch && python3 makeBuild.py

# Commenting out to disable auto-merging of PRs
# after_success:
# - bash ./automerge.sh
