language: python
cache:
  pip: true
  directories:
    - /home/travis/.rvm/gems
git:
  depth: 2
jobs:
  allow_failures:
    env:
      - CAN_FAIL=true

  include:
    - stage: cache-and-validate
      name: "Create install cache and validate updated assemblies"
      install:
        - gem install asciidoctor asciidoctor-diagram rouge
        - pip3 install pyyaml aura.tar.gz
      script:
        # Fail if Asciidoctor encounters errors. Run only if there are modified AsciiDoc files
        - chmod +x ./scripts/check-asciidoctor-build.sh
        - ./scripts/check-asciidoctor-build.sh || travis_terminate 1

    - stage: build
      name: "Build openshift-acs distro"
      install:
        - gem install asciidoctor asciidoctor-diagram rouge
        - pip3 install pyyaml aura.tar.gz
      script:
        - python3 build.py --distro openshift-acs --product "Red Hat Advanced Cluster Security for Kubernetes" --version 4.1 --no-upstream-fetch && python3 makeBuild.py

    - stage: netlify
      name: "Create Netlify preiview"
      env:
        - CAN_FAIL=true
      language: minimal
      if: type IN (pull_request) AND branch IN (rhacs-docs, rhacs-docs-3.74, rhacs-docs-4.0, rhacs-docs-4.1, rhacs-docs-4.2)
      script:
        - chmod +x autopreview.sh
        - ./autopreview.sh

stages:
  - cache-and-validate
  - build
  - netlify
