---
extends: relaxed
rules:
  indentation: { spaces: 2, indent-sequences: false }
  line-length: disable
  colons:
    max-spaces-before: 0
    max-spaces-after: 1
  empty-lines: disable
  trailing-spaces: enable
  new-line-at-end-of-file: enable
