<footer id="rh">

    <div class="container">
        <div class="row">

            <div class="col-sm-2">
                <img src="https://assets.openshift.com/hubfs/images/logos/Logo-RedHat-A-Reverse-RGB.svg" class="img-fluid" alt="Red Hat" style="height: 30px;">
            </div>

            <div class="col-sm-3">
                <p class="text-nowrap">Copyright © 2022 Red Hat, Inc.</p>
            </div>



            <div class="col">
                <nav class="nav">
                    <a target="_blank" href="https://www.redhat.com/en/about/privacy-policy" class="nav-link">Privacy statement</a>
                    <a target="_blank" href="https://www.openshift.com/legal/terms/" class="nav-link">Terms of use</a>
                    <a target="_blank" href="https://www.redhat.com/en/about/all-policies-guidelines" class="nav-link">All policies and guidelines</a>
                    <a id="teconsent"></a>
                </nav>
            </div>
        </div>
    </div>
</footer>
<div id="consent_blackbar" style="z-index: 100; position: fixed"></div>



<!-- Adobe DTM -->
<script type="text/javascript">
if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
   _satellite.pageBottom();
}
</script>
<!-- End Adobe DTM -->
