  <footer class="footer-openshift">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 logo">
        <a href="https://www.redhat.com/"></a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-6 text-center">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <a href="https://www.openshift.com/legal/privacy.html">
              Privacy Policy
            </a>
          </div>
          <div class="col-xs-12 col-md-4">
          <a href="https://www.openshift.com/legal/terms.html">
            Terms and Conditions
          </a>
          </div>
          <div class="col-xs-12 col-md-4">
          <a href="http://www.openshift.org/">
            Open Source
          </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 text-right">
        <a id="built_with_asciibinder" href="http://asciibinder.org/">
          <img src="<%= File.join(images_path, 'asciibinder_web_logo.svg') %>" alt="AsciiBinder" />
        </a>
      </div>
    </div>
  </div>
</footer>

<!-- Adobe DTM -->
<script type="text/javascript">
if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
   _satellite.pageBottom();
}
</script>
<!-- End Adobe DTM -->