  <footer class="footer-origin-docs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="footer_social">
          <a href="https://twitter.com/openshift" class="first">
            <span>
              <i class="fa fa-twitter-square fa-2x fa-inverse"></i>
            </span>
          </a>
          <a href="https://github.com/openshift/origin">
            <span>
              <i class="fa fa-github fa-2x fa-inverse"></i>
            </span>
          </a>
          <a href="https://www.facebook.com/openshift">
            <span>
              <i class="fa fa-facebook-square fa-2x fa-inverse"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <a id="footer_logo" href="https://www.redhat.com/">
          <img alt="Red Hat" src="https://assets.openshift.com/hubfs/images/logos/Logo-RedHat-A-Reverse-RGB.svg" style="width: 128px">
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <a id="powered_by_openshift" title="Powered by OpenShift Online" href="https://www.openshift.com/">
          <img src="https://www.openshift.com/images/logos/powered_by_openshift_reverse.png" alt="Powered by OpenShift Online">
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 text-right">
        <a id="built_with_asciibinder" title="Built with AsciiBinder docs management system" href="https://github.com/redhataccess/ascii_binder/">
          <img src="<%= File.join(images_path, 'asciibinder_web_logo.svg') %>" alt="AsciiBinder">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="attribution">
          <button type="button" class="btn btn-link" data-html="true" data-container="body" data-toggle="popover" data-placement="top" data-content="
            '<a target='_blank' href='https://www.flickr.com/photos/eflon/3655695161/'>Spin</a>' by <a target='_blank' href='https://www.flickr.com/photos/eflon/'>eflon</a>,</br> used under <a target='_blank' href='https://creativecommons.org/licenses/by/2.0/'>CC BY 2.0</a> </br>Color tint added to original">
            Image attribution
          </button>
        </div>
      </div>
    </div>
    <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>
  </div>
</footer>
