<div id="hc-search">
  <input id="hc-search-input" type="text">
  <button id="hc-search-btn">Search</button>
</div>

<div id="hc-search-modal">
  <div id="hc-modal-content">
    <span id="hc-modal-close">&times;</span>
    <div id="hc-search-results-wrapper">
      <div id="hc-search-results"></div>
      <div id="hc-search-progress-indicator" class="text-center search-progress-indicator"><i class="fa fa-circle-o-notch fa-spin" style="font-size:42px"></i></div>
      <div class="text-center">
        <button id="hc-search-more-btn">Show more results</button>
      </div>
    </div>
  </div>
</div>

<script>
  hcSearchCategory("docs_online", "<%= version %>");
</script>
