<div id="hc-search">
  <input id="hc-search-input" type="text">
  <button id="hc-search-btn">Search</button>
</div>

<div id="hc-search-modal">
  <div id="hc-modal-content">
    <span id="hc-modal-close">&times;</span>
    <div id="hc-search-results"></div>
  </div>
</div>

<script>
  hcSearchCategory("docs_online", "<%= version %>");
</script>
