.masthead-docs{
    background:url(../_images/commercial-masthead.png) repeat-x scroll 50% 0 / cover #60605b;
    margin-top: -20px;
    padding: 20px 0 80px;
 }

 .masthead-docs h1{
   font-size: 45px; margin-bottom: 60px; color: #333;
 }

.docs-home h2 {
    color: #cc0000;
}

.docs-home .landing h2 {
    margin: 25px 0 15px;
}

.docs-home .landing .list-group .list-group-item-heading {
    font-size: 18px;
    margin-bottom: 0;
}

.docs-home .landing .list-group .list-group-item-text {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: inherit;
}

.masthead-docs .search-container{
  float: none;
}

.landing-docs {
    background-color: #F0F0EF;
}

.landing-docs .center-block {
    float: none;
}

.form-control{
  outline: none;
}

@media screen and (max-width: 480px) {
    .masthead-docs h1 {
        font-size: 37px;
    }
}
