.masthead-docs{
    background:url(../_images/commercial-masthead.png) repeat-x scroll 50% 0 / cover #60605b;
    margin-top: -20px;
    padding: 20px 0 80px;
 }

 .masthead-docs h1{
   font-size: 45px; margin-bottom: 60px; color: #333;
 }

.footer-openshift .powered-by {
    margin-top: -22px;
}

.docs-home h2 {
    color: #e00;
}

.docs-home .landing h2 {
    margin: 25px 0 15px;
}

.docs-home .landing .list-group .list-group-item-heading {
    font-size: 18px;
    margin-bottom: 0;
}

.docs-home .landing .list-group .list-group-item-text {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 16px;
}

.masthead-docs .search-container{
  float: none;
}

.landing-docs {
    background-color: #F0F0EF;
}

.landing-docs .center-block {
    float: none;
}

.form-control{
  outline: none;
}

@media screen and (max-width: 480px) {
    .masthead-docs h1 {
        font-size: 37px;
    }
}

/* Search Results */
.search-results table {
  border: 0px solid #fff;
  margin-bottom: 0;
}
.search-results .gsc-control-cse {
    background-color: transparent;
    border: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding: 0
}
.search-results .gsc-control-cse .gsc-tabhActive {
    background-color: #e7e7e7;
    border: 0;
    color: #131313
}
.search-results .gsc-control-cse .gsc-tabhActive:after {
    border-color: #e7e7e7 transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    bottom: -9px;
    content: "";
    display: block;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    width: 0
}
.search-results .gsc-control-cse .gsc-tabhActive:hover {
    text-decoration: none
}
.search-results .gsc-control-cse .gsc-table-result {
    font-family: "Open Sans", Helvetica, Arial, sans-serif
}
.search-results .gsc-result-info {
    color: #bdbdbd;
    padding-left: 0
}
.search-results .gsc-selected-option,
.search-results .gsc-selected-option-container {
    font-weight: normal;
    line-height: 24px;
    width: auto !important
}
.search-results .gsc-tabHeader {
    font-size: 14px;
    font-weight: normal;
    height: auto;
    line-height: 1;
    margin: 0 30px 12px 0;
    padding: 6px 8px 4px
}
.search-results .gsc-tabHeader:active,
.search-results .gsc-tabHeader:focus {
    outline: 0
}
.search-results .gsc-tabHeader:hover {
    text-decoration: underline
}
.search-results .gsc-tabsArea {
    border-color: #e7e7e7;
    height: auto;
    margin: 24px 0 12px;
    padding: 0 0 12px
}
.search-results .gsc-tabsArea>div {
    height: auto
}
.search-results .gsc-webResult.gsc-result,
.search-results .gsc-results .gsc-imageResult,
.search-results .gsc-webResult.gsc-result:hover,
.search-results .gsc-imageResult:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF
}
.search-results .gs-webResult.gs-result a.gs-title:link,
.search-results .gs-webResult.gs-result a.gs-title:link b,
.search-results .gs-imageResult a.gs-title:link,
.search-results .gs-imageResult a.gs-title:link b {
    color: #2275b4;
    text-decoration: none
}
.search-results .gs-webResult.gs-result a.gs-title:visited,
.search-results .gs-webResult.gs-result a.gs-title:visited b,
.search-results .gs-imageResult a.gs-title:visited,
.search-results .gs-imageResult a.gs-title:visited b {
    color: #2275b4
}
.search-results .gs-webResult.gs-result a.gs-title:hover,
.search-results .gs-webResult.gs-result a.gs-title:hover b,
.search-results .gs-imageResult a.gs-title:hover,
.search-results .gs-imageResult a.gs-title:hover b {
    color: #1c6094;
    text-decoration: underline
}
.search-results .gs-webResult.gs-result a.gs-title:active,
.search-results .gs-webResult.gs-result a.gs-title:active b,
.search-results .gs-imageResult a.gs-title:active,
.search-results .gs-imageResult a.gs-title:active b {
    color: #2275b4
}
.search-results .gsc-cursor-page {
    color: #2275b4
}
.search-results a.gsc-trailing-more-results:link {
    color: #2275b4
}
.search-results .gs-webResult .gs-snippet,
.search-results .gs-imageResult .gs-snippet,
.search-results .gs-fileFormatType {
    color: inherit
}
.search-results .gs-webResult div.gs-visibleUrl,
.search-results .gs-imageResult div.gs-visibleUrl {
    color: #929292
}
.search-results .gs-webResult div.gs-visibleUrl-short {
    color: #929292
}
.search-results .gs-webResult div.gs-visibleUrl-short {
    display: none
}
.search-results .gs-webResult div.gs-visibleUrl-long {
    display: block
}
.search-results .gs-promotion div.gs-visibleUrl-short {
    display: none
}
.search-results .gs-promotion div.gs-visibleUrl-long {
    display: block
}
.search-results .gsc-cursor-box {
    border-color: #FFFFFF
}
.search-results .gsc-results .gsc-cursor-box .gsc-cursor-page {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    color: #2275b4
}
.search-results .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: #e7e7e7;
    background-color: #e7e7e7;
    color: #2275b4
}
.search-results .gsc-webResult.gsc-result.gsc-promotion {
    border-color: #F6F6F6;
    background-color: #F6F6F6
}
.search-results .gsc-completion-title {
    color: #2275b4
}
.search-results .gsc-completion-snippet {
    color: #333333
}
.search-results .gs-promotion a.gs-title:link,
.search-results .gs-promotion a.gs-title:link *,
.search-results .gs-promotion .gs-snippet a:link {
    color: #2275b4
}
.search-results .gs-promotion a.gs-title:visited,
.search-results .gs-promotion a.gs-title:visited *,
.search-results .gs-promotion .gs-snippet a:visited {
    color: #2275b4
}
.search-results .gs-promotion a.gs-title:hover,
.search-results .gs-promotion a.gs-title:hover *,
.search-results .gs-promotion .gs-snippet a:hover {
    color: #2275b4
}
.search-results .gs-promotion a.gs-title:active,
.search-results .gs-promotion a.gs-title:active *,
.search-results .gs-promotion .gs-snippet a:active {
    color: #2275b4
}
.search-results .gs-promotion .gs-snippet,
.search-results .gs-promotion .gs-title .gs-promotion-title-right,
.search-results .gs-promotion .gs-title .gs-promotion-title-right * {
    color: #333333
}
.search-results .gs-promotion .gs-visibleUrl,
.search-results .gs-promotion .gs-visibleUrl-short {
    color: #929292
}
.search-results .gsc-input input.gsc-input {
    background: none repeat scroll 0% 0% white !important
}
.search-results .gsc-control-cse td {
    padding: 0
}
.search-results .gsc-control-cse .gsc-above-wrapper-area {
    border-bottom: 0;
    color: #bdbdbd
}
.search-results .gsc-control-cse .gsc-above-wrapper-area-container td,
.search-results .gsc-control-cse .gsc-resultsHeader td,
.search-results .gsc-control-cse .gsc-table-result td {
    border-color: #fff
}
.search-results .gsc-control-cse .gsc-table-result,
.search-results .gsc-control-cse .gsc-thumbnail-inside,
.search-results .gsc-control-cse .gsc-url-top {
    padding-left: 0;
    padding-right: 0
}
.search-results .gsc-control-cse .gsc-webResult .gsc-result {
    padding: 10px 0 10px 0
}
.search-results .gsc-control-cse table.gsc-table-result {
    border-collapse: initial
}
.search-results .gsc-control-cse .gs-result a.gs-visibleUrl,
.search-results .gsc-control-cse .gs-result .gs-visibleUrl {
    font-size: 12px;
    padding-top: 4px
}
.search-results .gsc-control-cse div.gs-title {
    height: auto;
    overflow: visible;
    text-decoration: none
}
.search-results .gsc-control-cse .gs-snippet {
    font-size: 13px
}
.search-results .gsc-completion-container span {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
    padding: 0 16px
}
.search-results .gsc-control-cse .gs-spelling,
.search-results .gsc-control-cse .gs-result .gs-title,
.search-results .gsc-control-cse .gs-result .gs-title * {
    font-size: 18px;
    font-weight: 300
}
.search-results .gs-per-result-labels {
    color: #929292;
    font-size: 12px;
    margin-top: 4px
}
.search-results .gs-webResult div.gs-per-result-labels a.gs-label {
    color: #787878
}
.search-results .gsc-results .gsc-cursor-box {
    margin: 30px 0 0
}
.search-results .gsc-results .gsc-cursor-box>.gsc-cursor>.gsc-cursor-page {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #2275b4;
    background-color: white;
    border: 1px solid #dddddd;
    margin: 0 0 0 -1px
}
.search-results .gsc-results .gsc-cursor-box>.gsc-cursor>.gsc-cursor-page:first-child {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}
.search-results .gsc-results .gsc-cursor-box>.gsc-cursor>.gsc-cursor-page:hover,
.search-results .gsc-results .gsc-cursor-box>.gsc-cursor>.gsc-cursor-page:focus {
    color: #1c6094;
    background-color: #e7e7e7;
    border-color: #dddddd
}
.search-results .gsc-results .gsc-cursor-box>.gsc-cursor>.gsc-cursor-page:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px
}
.search-results .gsc-results .gsc-cursor-box>.gsc-cursor>.gsc-cursor-current-page,
.search-results .gsc-results .gsc-cursor-box>.gsc-cursor>.gsc-cursor-current-page:hover,
.search-results .gsc-results .gsc-cursor-box>.gsc-cursor>.gsc-cursor-current-page:focus {
    z-index: 2;
    color: white;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default
}
