* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav#main {
  background-color: #f6f6f6;
  z-index: 9999;
  position: relative;
}
.navbar.navbar-default.navbar-openshift {
  background-color: transparent;
  margin-bottom: 0;
  box-shadow: none;
  min-height: initial;
}
.navbar.navbar-default.navbar-openshift .navbar-nav:after,
.navbar.navbar-default.navbar-openshift .navbar-nav:before,
.navbar.navbar-default.navbar-openshift:after,
.navbar.navbar-default.navbar-openshift:before {
  display: none;
}
.navbar.navbar-default.navbar-openshift .navbar-header {
  float: none;
  background-color: #000;
  height: 80px;
}
.navbar.navbar-default.navbar-openshift .navbar-collapse {
  width: 100%;
  padding: 0;
}
.navbar.navbar-default.navbar-openshift .navbar-brand {
  background: url(/_images/Logo-Red_Hat-OpenShift-A-Reverse-RGB.svg)
    100% no-repeat;
  background-size: contain;
  background-position: left center;
  margin: 5px 15px;
  padding: 0;
  width: 175px;
  height: 70px;
}
.navbar.navbar-default.navbar-openshift .navbar-brand.brand-online {
  background: url(/_images/Logo-RedHat-A-Reverse-RGB.svg)
    100% no-repeat;
}
.navbar.navbar-default.navbar-openshift .navbar-brand.brand-dedicated {
  background: url(/_images/Logo-RedHat-A-Reverse-RGB.svg)
    100% no-repeat;
}
.navbar.navbar-default.navbar-openshift .navbar-menu-toggle {
  border-right: 0;
  float: right;
  padding: 14px 20px;
  right: 0;
  top: 0;
  border-right: 0;
}
.navbar.navbar-default.navbar-openshift .navbar-menu-toggle .icon-bar {
  background-color: #fff;
  border-radius: 0;
  margin-top: 6px;
}
.navbar.navbar-default.navbar-openshift .navbar-menu-toggle:hover {
  background-color: transparent;
}
.navbar.navbar-default.navbar-openshift .navbar-menu-toggle:hover .icon-bar {
  background-color: #ddd;
}
.navbar.navbar-default.navbar-openshift .navbar-nav {
  margin: 0;
}
.navbar.navbar-default.navbar-openshift .navbar-nav > li > a {
  font-size: 18px;
  padding: 20px 15px;
  white-space: nowrap;
  text-transform: initial;
  font-weight: 400;
}
.navbar.navbar-default.navbar-openshift .navbar-nav > li > a.nav-sign-in .fa {
  padding-left: 7px;
}
.navbar.navbar-default.navbar-openshift .navbar-nav > li > a:hover {
  background: 0 0;
  text-decoration: none;
}
.navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu {
  top: 65px;
  min-width: 240px;
  box-shadow: none;
  border-top: 0;
  background-color: #fff;
  margin: 0;
  padding: 0 30px;
}
.navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0 !important;
}
.navbar.navbar-default.navbar-openshift .dropdown-menu > li + li {
  border-top: 0;
}
.navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu h3 {
  color: #333;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 6px;
  line-height: 1.4em;
}
.navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu p {
  font-size: 14px;
  line-height: 1.4em;
  color: #929292;
  display: none;
}
.navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu li a {
  font-size: 18px;
  font-weight: 700;
  text-transform: initial;
  line-height: 1.15;
  padding: 20px 0;
  color: #333;
}
.navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu li a:hover {
  color: #06c;
  background-color: #fff;
}
.navbar.navbar-default.navbar-openshift
  .navbar-nav
  li:last-child
  .dropdown-menu {
  left: auto;
  right: 0;
}
.navbar.navbar-default.navbar-openshift
  .navbar-nav
  li:last-child
  .dropdown-menu:before {
  left: auto;
  right: 20px;
}
@media (min-width: 768px) {
  nav#main {
    background-color: #000;
    height: 70px;
    display: flex;
    align-items: center;
  }
  .navbar.navbar-default.navbar-openshift {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar.navbar-default.navbar-openshift .navbar-header {
    background-color: transparent;
    margin-right: 30px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-brand {
    margin: 0;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav {
    float: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav > li > a {
    padding: 20px 8px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav > li > a:hover {
    color: #fff;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
    border: 0;
    padding: 25px 20px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu p {
    display: block;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav #products .dropdown-menu {
    min-width: 550px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav #learn .dropdown-menu {
    min-width: 450px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu:before {
    content: " ";
    display: table;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 45px;
    border: 10px solid #fff;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu li a {
    font-size: 14px;
    padding: 10px 0;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu .row {
    display: flex;
    justify-content: space-between;
  }
  .navbar.navbar-default.navbar-openshift
    .navbar-nav
    .dropdown-menu
    .row:before,
  .navbar.navbar-default.navbar-openshift
    .navbar-nav
    .dropdown-menu
    .row:after {
    display: none;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav > li a.nav-sign-up {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 0;
    border-bottom: 0;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav > li.open > a {
    color: #fff;
    background: 0 0;
  }
}
@media (min-width: 992px) {
  nav#main {
    height: 90px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-header {
    margin-right: 15px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu {
    padding: 25px 40px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav .dropdown-menu li a {
    font-size: 15px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav #products .dropdown-menu {
    min-width: 595px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav #learn .dropdown-menu {
    min-width: 555px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-brand {
    width: 285px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav > li > a {
    font-size: 15px;
    padding: 10px 15px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav > li a.nav-sign-up {
    padding-left: 20px;
    padding-right: 20px;
  }
  .masthead .lead {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .navbar.navbar-default.navbar-openshift .navbar-header {
    margin-right: 125px;
  }
  .navbar.navbar-default.navbar-openshift .navbar-nav #learn .dropdown-menu {
    min-width: 645px;
  }
}
footer#rh nav {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  body {
    margin-bottom: 0 !important;
  }
  footer#rh nav a {
    border-right: 0 !important;
  }
}
@media (min-width: 768px) {
  footer#rh {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  footer#rh nav {
    display: block;
  }
}
footer#rh nav,
footer#rh p {
  padding-top: 10px;
}
footer#rh nav a:last-child {
  border: 0;
}
footer#rh nav a,
footer#rh p {
  font-size: 0.8rem;
  color: #6c6c6c;
}
footer#rh {
  background-color: #000;
  padding: 10px 0;
}
footer#rh nav a {
  padding: 0 0.55rem;
  border-right: 1px solid #6c6c6c;
}
footer#rh img[alt="Red Hat"] {
  margin-top: 6px;
}
