.highlight .hll { background-color: #ffffcc; }
.highlight { background: #eeeedd; }
.highlight .c { color: #1e7b1e; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { color: #8B008B; font-weight: bold; }
.highlight .ch { color: #1e7b1e; }
.highlight .cm { color: #1e7b1e; }
.highlight .cp { color: #197487; }
.highlight .cpf { color: #1e7b1e; }
.highlight .c1 { color: #1e7b1e; }
.highlight .cs { color: #8B008B; font-weight: bold; }
.highlight .gd { color: #aa0000; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #aa0000; }
.highlight .gh { color: #000080; font-weight: bold; }
.highlight .gi { color: #007d00; }
.highlight .go { color: #6a6a6a; }
.highlight .gp { color: #555555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #800080; font-weight: bold; }
.highlight .gt { color: #aa0000; }
.highlight .kc { color: #8B008B; font-weight: bold; }
.highlight .kd { color: #8B008B; font-weight: bold; }
.highlight .kn { color: #8B008B; font-weight: bold; }
.highlight .kp { color: #8B008B; font-weight: bold; }
.highlight .kr { color: #8B008B; font-weight: bold; }
.highlight .kt { color: #00688B; font-weight: bold; }
.highlight .m { color: #a538c4; }
.highlight .s { color: #c23838; }
.highlight .na { color: #517200; }
.highlight .nb { color: #517200; }
.highlight .nc { font-weight: bold; color: #007c3c; }
.highlight .no { color: #00688B; }
.highlight .nd { color: #666b6d; }
.highlight .ne { font-weight: bold; color: #007c3c; }
.highlight .nf { color: #007c3c; }
.highlight .nn { text-decoration: underline; color: #007c3c; }
.highlight .nt { color: #8B008B; font-weight: bold; }
.highlight .nv { color: #00688B; }
.highlight .ow { color: #8B008B; }
.highlight .w { color: #6a6a6a; }
.highlight .mb { color: #a538c4; }
.highlight .mf { color: #a538c4; }
.highlight .mh { color: #a538c4; }
.highlight .mi { color: #a538c4; }
.highlight .mo { color: #a538c4; }
.highlight .sa { color: #c23838; }
.highlight .sb { color: #c23838; }
.highlight .sc { color: #c23838; }
.highlight .dl { color: #c23838; }
.highlight .sd { color: #c23838; }
.highlight .s2 { color: #c23838; }
.highlight .se { color: #c23838; }
.highlight .sh { font-style: italic; color: #1a7669; }
.highlight .si { color: #c23838; }
.highlight .sx { color: #a15816; }
.highlight .sr { color: #1a7669; }
.highlight .s1 { color: #c23838; }
.highlight .ss { color: #c23838; }
.highlight .bp { color: #517200; }
.highlight .fm { color: #007c3c; }
.highlight .vc { color: #00688B; }
.highlight .vg { color: #00688B; }
.highlight .vi { color: #00688B; }
.highlight .vm { color: #00688B; }
.highlight .il { color: #a538c4; }
