/** print stylesheet for docs.openshift.com **/

@page {
    size: auto;
    margin: 20mm 15mm 15mm 10mm;
}

body {
    margin: 0px;
}

#content,
#page {
    width: 100%;
    float: none;
}

.main {
    margin-top: 100px;
}

::-webkit-scrollbar {
    display: none;
}

.clipboard-button-container {
    display: none !important;
}

.search-progress-indicator {
    display: none;
}

#hc-modal-content {
    display: none;
}

.open-btn-sm {
    display: none !important;
}

#toc,
.sidebarblock {
    background: none !important;
}

#toc {
    border-bottom: 1px solid #d8d8d8 !important;
    padding-bottom: 0 !important;
    display: contents;
}

#toc:before {
    display: none;
}

.sect1 {
    padding-bottom: 0 !important;
}

.sect1+.sect1 {
    border: none !important;
}

#footer {
    background: none !important;
}

#footer-text {
    color: #333333 !important;
}

.hide-on-print {
    display: none !important;
}

.print-only {
    display: block !important;
}

.hide-for-print {
    display: none !important;
}

.show-for-print {
    display: inherit !important;
}

.print-logo {
    position: relative;
    display: block !important;
    height: 40px;
    width: 220px;
    top: 70px;
    padding-bottom: 10px;
}

.page-header {
    padding: 0;
    border: 0;
    margin: 0;
    height: unset;
}

.page-header h1 {
    font-size: 22pt;
    padding: 0;
    border: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 55px;
    letter-spacing: unset;
    font-weight: 400;
}

h2,
h3,
h4 {
    font-size: 18pt;
    margin-top: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    break-inside: avoid;
    page-break-after: avoid;
    break-after: avoid;
    text-transform: unset;
}

h2::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}

h3::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}

h2,
h3 {
    padding-top: 20 px;
}

#collapsibleButtonDiv {
    display: none;
}

b,
optgroup,
strong {
    font-weight: 700;
    padding: 3px;
}

td,
th {
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

p,
a {
    break-inside: avoid;
}

.table {
    table-layout: fixed;
    font-size: 80%;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    font-style: italic;
    font-size: initial;
}

.admonitionblock {
    break-inside: avoid;
}

.admonitionblock.note {
    border-left: solid #4e9fde;
}

.admonitionblock.important {
    border-left: solid #ee2100;
}

.admonitionblock.warning {
    border-left: solid #ec7a09;
}

.admonitionblock.caution {
    border-left: solid #ec7a09;
}

.admonitionblock.tip {
    border-left: solid #328596;
}

.admonitionblock>table {
    border: 0;
    background: none;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 10px;
    margin-top: 10px;
}

.admonitionblock td.content>.title {
    color: #7a2518;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: .25em
}

.admonitionblock td.content>.title {
    text-rendering: optimizeLegibility;
    text-align: left;
    font-family: "Noto Serif", "DejaVu Serif", serif;
    font-size: 1rem;
    font-style: italic
}

.admonitionblock>table {
    border-collapse: separate;
    border: 0;
    background: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.admonitionblock>table td.icon {
    text-align: center;
    width: 80px
}

.admonitionblock>table td.icon img {
    max-width: none
}

.admonitionblock>table td.icon .title {
    font-weight: bold;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    text-transform: uppercase
}

.admonitionblock>table td.content {
    padding-left: 1.125em;
    padding-right: 1.25em;
    border-left: 1px solid #ddddd8;
    color: rgba(0, 0, 0, .6)
}

.admonitionblock>table td.content>:last-child>:last-child {
    margin-bottom: 0
}

.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    cursor: default
}

.admonitionblock td.icon .icon-note:before {
    content: "\f05a";
    color: #19407c
}

.admonitionblock td.icon .icon-tip:before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, .8);
    color: #111
}

.admonitionblock td.icon .icon-warning:before {
    content: "\f071";
    color: #bf6900
}

.admonitionblock td.icon .icon-caution:before {
    content: "\f06d";
    color: #bf3400
}

.admonitionblock td.icon .icon-important:before {
    content: "\f06a";
    color: #bf0000
}

tr,
img {
    break-inside: avoid;
}

a[href]:after {
    display: none;
}

blockquote {
    break-inside: avoid;
}

img {
    break-inside: avoid;
    break-after: avoid;
    max-width: 100% !important;
}

dl {
    break-before: avoid
}

ul,
ol {
    list-style: square;
    margin-left: 2pt;
    margin-bottom: 5pt;
}

a:link,
a:visited,
a {
    background: transparent;
    text-align: left;
    text-decoration: underline;
}

a {
    break-inside: avoid
}

.entry iframe,
ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
}

.embed-youtube,
.embed-responsive {
    position: absolute;
    height: 0;
    overflow: hidden;
}

footer,
aside,
form,
button,
iframe,
span.clipboard-button,
.navbar,
.menu {
    display: none;
}

nav,
.sidebar,
.heading,
.site-title img,
.post-tags,
.readability,
.navbar.navbar-default.navbar-openshift {
    display: none;
}

p,
address,
li,
dt,
dd,
blockquote {
    font-size: 100%
}

p {
    orphans: 3;
    widows: 3;
}

.listingblock pre.rouge code {
    white-space: pre-wrap;
    width: 100%;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left:  -6px;
    word-break: break-word;

}

pre, pre code {
    display: unset;
    font-size: medium;
}

pre code {
    font-family: "Courier New", Courier, mono;
    font-style: normal !important;
    letter-spacing: 0;
    text-rendering: optimizeSpeed;
    word-wrap: break-word;
    padding: 8px;
    background: #d3d3d347 padding-box !important;
    border-radius: 5px;
}

pre {
    margin: 0 0 10px;
    word-break: break-all;
    background-color: #f0f3f5;
    border: 0;
    border-radius: 4px;
}

div.title {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

#truste-consent-track,
#truste-consent-text,
.truste-banner,
.truste_overlay,
.truste_box_overlay,
.truste_titlee,
.mainContent {
    display: none !important;
}

* {
    -webkit-box-shadow: none !important;
    -webkit-print-color-adjust: exact;
    box-shadow: none !important;
    text-shadow: none !important;
}

.breadcrumb {
    display: none;
}
