<footer id="rh">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <img src="https://assets.openshift.net/content/subdomain/redhat_logo.svg" class="img-fluid" alt="Red Hat" style="height: 40px;">
      </div>

      <div class="col-sm-3">
        <p>Copyright © 2018 <span class="text-nowrap">Red Hat, Inc.</span></p>
      </div>

      <div class="col-sm-5">
        <nav class="nav">
          <a href="https://www.redhat.com/en/about/privacy-policy" class="nav-link">Privacy statement</a>
          <a href="https://www.openshift.com/legal/terms/" class="nav-link">Terms of use</a>
          <a href="https://www.redhat.com/en/about/all-policies-guidelines" class="nav-link">All policies and guidelines</a>
        </nav>
      </div>

      <div class="hidden-sm col-sm-2 powered-by">
        <a href="https://www.openshift.com/" title="Powered by OpenShift Online">
          <img src="https://www.openshift.com/images/logos/powered_by_openshift_reverse.png" alt="Powered by OpenShift Online">
        </a>
      </div>
    </div>
  </div>
</footer>

<!-- Adobe DTM -->
<!-- Removed Adobe Analytics -->
<!-- End Adobe DTM -->
