name: Preview build
on:
  - pull_request
jobs:
  preview-build:
    name: Preview build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0 # enable git diff and building many branches
      
      - name: Build the docs
        run: |
          chmod +x scripts/prow-smoke-test.sh
          # validate
          scripts/prow-smoke-test.sh -v
          # deploy
          scripts/prow-smoke-test.sh -p
